Repository Badminton-Apps/badman, pull requests merged in 2021-02, with the labels that each got.

#38 fix: Show topplayers from last run
  code/frontend/packages/ranking-client/src/app/_shared/graphql/rankingSystem/queries/GetPrimarySystemsQuery.graphql
  code/frontend/packages/ranking-client/src/app/_shared/models/ranking-system.model.ts
  code/frontend/packages/ranking-client/src/app/_shared/services/system/system.service.ts
  code/frontend/packages/ranking-client/src/app/player/page/top-players/top-players.component.ts
Labels: @badvlasim/client, frontend

#40 feat: add erd generator on publish
  .github/workflows/publish.yaml
  .gitignore
  README.md
  code/backend/packages/_shared/package.json
  code/backend/packages/_shared/utils/generate-erd.ts
  code/backend/packages/server/src/controllers/ranking.controller.ts
  code/backend/packages/server/src/controllers/request-link.controller.ts
  code/backend/packages/server/src/server.ts
  code/backend/yarn.lock
Labels: @badvlasim/server, @badvlasim/shared, backend

#41 Feat/12 games used for ranking
  .gitignore
  code/backend/packages/_shared/models/sequelize/event/game.model.ts
  code/backend/packages/server/src/graphql/types/game.type.ts
  code/backend/packages/server/src/graphql/types/rankingPoint.type.ts
  code/backend/packages/simulate/src/models/rankingCalc.ts
  code/backend/packages/simulate/src/models/rankingTypes/bvl.ts
  code/frontend/packages/ranking-client/src/app/_shared/graphql/players/queries/GetUserGamesQuery.graphql
  code/frontend/packages/ranking-client/src/app/_shared/models/game.model.ts
  code/frontend/packages/ranking-client/src/app/_shared/models/index.ts
  code/frontend/packages/ranking-client/src/app/_shared/models/ranking-point.model.ts
  code/frontend/packages/ranking-client/src/app/player/page/player/components/games/components/game-result/game-result.component.html
  code/frontend/packages/ranking-client/src/app/player/page/player/components/games/components/game-result/game-result.component.ts
  code/frontend/packages/ranking-client/src/app/player/page/player/components/player-info/player-info.component.html
  code/frontend/packages/ranking-client/src/app/player/page/player/components/player-info/player-info.component.scss
  code/frontend/packages/ranking-client/src/app/player/page/player/components/player-info/player-info.component.ts
Labels: @badvlasim/client, @badvlasim/server, @badvlasim/shared, @badvlasim/simulate, backend, frontend

#39 ci: empty commit for triggering a PR
  .github/workflows/pr.yaml
  code/frontend/packages/ranking-client/tsconfig.json
Labels: @badvlasim/client, frontend

#43 Feat/locations
  code/backend/packages/_shared/database/databse.service.ts
  code/backend/packages/_shared/database/migrations/20210228084059-link locations.js
  code/backend/packages/_shared/database/migrations/20210228085923-unsused field.js
  code/backend/packages/_shared/models/sequelize/club-location.model.ts
  code/backend/packages/_shared/models/sequelize/club-membership.model.ts
  code/backend/packages/_shared/models/sequelize/club.model.ts
  code/backend/packages/_shared/models/sequelize/event/court.model.ts
  code/backend/packages/_shared/models/sequelize/event/draw.model.ts
  code/backend/packages/_shared/models/sequelize/event/event.model.ts
  code/backend/packages/_shared/models/sequelize/event/game.model.ts
  code/backend/packages/_shared/models/sequelize/event/index.ts
  code/backend/packages/_shared/models/sequelize/event/location.model.ts
  code/backend/packages/_shared/models/sequelize/event/sub-event.model.ts
  code/backend/packages/_shared/models/sequelize/import/file.model.ts
  code/backend/packages/_shared/models/sequelize/import/import-draw.model.ts
  code/backend/packages/_shared/models/sequelize/import/import-sub-events.model.ts
  code/backend/packages/_shared/models/sequelize/import/index.ts
  code/backend/packages/_shared/models/sequelize/index.ts
  code/backend/packages/_shared/models/sequelize/player.model.ts
  code/backend/packages/_shared/models/sequelize/ranking/group.model.ts
  code/backend/packages/_shared/models/sequelize/ranking/index.ts
  code/backend/packages/_shared/models/sequelize/ranking/place.model.ts
  code/backend/packages/_shared/models/sequelize/ranking/point.model.ts
  code/backend/packages/_shared/models/sequelize/ranking/system.model.ts
  code/backend/packages/_shared/models/sequelize/request-link.model.ts
  code/backend/packages/_shared/models/sequelize/team-membership.model.ts
  code/backend/packages/_shared/models/sequelize/team.model.ts
  code/backend/packages/import/src/convert/convertor.ts
  code/backend/packages/import/src/import/importer.ts
  code/backend/packages/server/src/graphql/queries/game.query.ts
  code/backend/packages/server/src/graphql/types/game.type.ts
Labels: @badvlasim/import, @badvlasim/server, @badvlasim/shared, backend

#44 fix: moved the system info to single query
  code/frontend/packages/ranking-client/src/app/_shared/graphql/players/queries/GetUserGamesQuery.graphql
  code/frontend/packages/ranking-client/src/app/_shared/graphql/rankingSystem/queries/GetPrimarySystemsQuery.graphql
  code/frontend/packages/ranking-client/src/app/_shared/models/game.model.ts
  code/frontend/packages/ranking-client/src/app/_shared/services/player/player.service.ts
  code/frontend/packages/ranking-client/src/app/player/page/player/components/games/games.component.ts
  code/frontend/packages/ranking-client/src/app/player/page/player/components/player-info/player-info.component.scss
  code/frontend/packages/ranking-client/src/app/player/page/player/components/player-info/player-info.component.ts
Labels: @badvlasim/client, frontend
